* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body , html{
    font-size: 24px;
    text-align: center; */
    /* background-color: chocolate; */
    /* background-color: #44355b; */
/* background-image: linear-gradient(315deg, #44355b 0%, #ececec 74%); */
/* } */

@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    
}